{
    "ffmpeg_folder_path": "PATH TO\\ffmpeg\\bin",
    "preset_book": {
        "H264": "25,23,128k,AAC (Advanced Audio Coding) (decoders: aac aac_fixed ),H.264 / AVC / MPEG-4 AVC / MPEG-4 part 10 (decoders: h264 h264_qsv h264_cuvid ) (encoders: libx264 libx264rgb h264_amf h264_nvenc h264_qsv nvenc nvenc_h264 )",
        "Jpeg2000": "25,23,128k,AAC (Advanced Audio Coding) (decoders: aac aac_fixed ),JPEG 2000 (decoders: jpeg2000 libopenjpeg ) (encoders: jpeg2000 libopenjpeg )",
        "Mjpeg": "25,23,128k,AAC (Advanced Audio Coding) (decoders: aac aac_fixed ),Motion JPEG (decoders: mjpeg mjpeg_cuvid ) (encoders: mjpeg mjpeg_qsv )",
        "Mpeg4": "25,23,auto,AAC (Advanced Audio Coding) (decoders: aac aac_fixed ),MPEG-4 part 2 (decoders: mpeg4 mpeg4_cuvid ) (encoders: mpeg4 libxvid )",
        "Apple Prores": "25,23,128k,AAC (Advanced Audio Coding) (decoders: aac aac_fixed ),Apple ProRes (iCodec Pro) (encoders: prores prores_aw prores_ks )"
    },
    "link_book": {
        "pts": "URL,\"www.google.com\"",
        "Google": "URL,\"www.google.com\""
    }
}